<section id="main-table-wrapper" class="admin-table-wrapper">
  <h2 id="admin-table-title">{{i18n 'admin.recentLinks'}}.</h2>
  {{> admin/links/table onload=true}}
  {{> admin/dialog/frame}}
</section>