{{> header}}
<div id="notfound" class="section-container">
  <h2>
    404 | {{i18n 'errors.linkNotFound'}}
  </h2>
  <a class="back-to-home" href="/">
    â† {{i18n 'common.backToHomepage'}}
  </a>
</div>
{{> footer}}