{{> header}}
<div id="error-page" class="section-container">
  <h2>
    {{i18n 'common.error'}}!
  </h2>
  <p>{{message}}</p>
  <a class="back-to-home" href="/">
    â† {{i18n 'common.backToHomepage'}}
  </a>
</div>
{{> footer}}