{{> header}}
<section id="report" class="section-container">
  <h2>
    {{i18n 'report.title'}}
  </h2>
  <p>
    {{i18n 'report.description' mail_enabled=mail_enabled}}
  </p>
  {{> report/email}}
  {{#if mail_enabled}}
    {{> report/form}}
  {{/if}}
</section>
{{> footer}}