{{#unless links}}
  {{#ifEquals links.length 0}}    <tr class="no-data">
      <td>
        {{i18n 'table.noData'}}
      </td>
    </tr>
  {{else}}    <tr class="loading-placeholder">
      <td>
        {{> icons/spinner}}
        {{i18n 'table.loading'}}
      </td>
    </tr>
  {{/ifEquals}}
{{/unless}}