<div class="content">
  <div class="icon success">
    {{> icons/check}}
  </div>
  <p>
    {{i18n 'dialog.admin.user.create.success' email=email}}
  </p>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">{{i18n 'dialog.close'}}</button>
  </div>
</div>

